@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <h2>Vivero Las Plantas</h2>
    <p class="lead">Vivero local de Lobos <br /> Es un vivero familiar formado por Cañoli Micaela como dueña principal<br />Aquí podras encontrar todas las variedades de plantas.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Plantas</h3>
        <p>
            Una planta es un ser orgánico que vive y crece, pero sin mudar de lugar por impulso voluntario.<br /> Se trata de los vegetales como los árboles o las hortalizas, que constituyen el objeto de estudio de la botánica.<br />A nivel doméstico, lo habitual es contener las plantas en una maceta o en un cantero con tierra
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Flores</h2>
        <p>La flor es la estructura reproductiva característica de las plantas llamadas espermatofitas o fanerógamas.<br /> La función de una flor es producir semillas a través de la reproducción sexual.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Fertilizantes</h2>
        <p>Un abono orgánico, por lo tanto, es un tipo de fertilizante que se produce a partir de plantas, animales u hongos.<br /> Distinto es el caso de los abonos inorgánicos,<br /> que derivan de actividades mineras o de combustibles fósiles y requieren de un proceso industrial para su fabricación.</p>
       
    </div>
</div>